table.hljs-ln {
  width: auto;
  border-width: 0px;
}
table.hljs-ln td {
  border-width: 0px;
}
  
/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC !important;
  vertical-align: top;
    padding-right: 5px !important;
}
  
/* for block of code */
.hljs-ln-code {
  padding-left: 10px !important;
}

/* copy from rouge for inline code */
code:not([class]) {
  font-size: .85rem;
  padding: 3px 5px;
  word-break: break-word;
  border-radius: 4px;
  background-color: var(--inline-code-bg);
  color: var(--highlighter-rouge-color);
  margin-top: 0.5rem;
  margin-bottom: 1.2em;
}
